# 第1章から使用
pandas
pyarrow
# fastparquet  # 1.0.1: 不要と思われる `fastparquet` 依存を削除しました。

# 第2章から使用
transformers < 5  # 1.0.2: 依存する `transformers` のバージョンを5未満に固定しました。
sentence-transformers
hf_xet

# 第3章から使用
faiss-cpu
opensearch-py

# 第5章から使用
sentencepiece
fugashi
unidic-lite
datasets
accelerate

# 第11章から使用
xgboost

# 付録Aで使用
pillow  # 1.0.1: `pillow` 依存を明示しました。
